# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

# Django local settings / databases
db.sqlite3
.env
local_settings.py

# Instagram Instagrapi Local Session
instagram_session.json

# Media files
media/

# Design files
stitch_connectsphere_social_platform.zip
stitch_connectsphere_social_platform/
stitch_design/
